<tr class='attr_311'>

<td> 包装尺寸</td> 
<td><input type='text' size='40' value='' name='attr_311[]' /></td>
</tr><tr class='attr_312'><td> 毛重</td> 
<td><input type='text' size='40' value='' name='attr_312[]' /></td>
</tr>
<tr class='attr_313'>
<td> 品牌</td> 
<td><input type='text' size='40' value='' name='attr_313[]' /></td></tr>
<tr class='attr_314'><td> 制冷方式</td> <td><input type='text' size='40' value='' name='attr_314[]' /></td></tr>
<tr class='attr_315'><td> 能效等级</td> 
<td>
<select name='attr_315[]'><option value=''>不限</option><option value='一级二级三级四级五级'>一级二级三级四级五级</option></select></td></tr>