<style>
    a.ncbtn-mini i, a.ncbtn i {
        vertical-align: bottom;
    }
</style>
<table class="ncsc-default-table order deliver">
  {volist name="list" id="vo"}
    <tbody>
    <tr>
      <td colspan="21" class="sep-row"></td>
    </tr>
    <tr>
      <th colspan="21"><span class="ml5">订单编号：<strong>{$vo.order_sn}</strong></span><span>下单时间：<em class="goods-time">{$vo.add_time|date="Y-m-d H:i",###}</em></span>
         <span class="fr mr10">
                <a href="/index.php/seller/Order/order_print/order_id/341/template/picking.html" target="_blank" class="ncbtn-mini" title="打印配货单"><i class="icon-print"></i>打印配货单</a></span>
      </th>
     </tr>
            <!--  第一行 -->
      <tr>
        <td class="bdl w10"></td>
        <td class="w50"><div class="pic-thumb"><a href="/index.php/Home/Goods/goodsInfo/id/{$vo[order_goods][0][goods_id]}.html" target="_blank"><img src="{$vo[order_goods][0][goods_id]|goods_thum_images=200,200}"></a></div></td>
        <td class="tl">
          <dl class="goods-name">
          
            <dt><a target="_blank" href="/index.php/Home/Goods/goodsInfo/id/{$vo[order_goods][0][goods_id]}.html">{$vo[order_goods][0][goods_name]}</a></dt>
            <dd><strong>￥{$vo[order_goods][0][goods_price]}</strong>&nbsp;x&nbsp;<em>{$vo[order_goods][0][goods_num]}</em>件</dd>
          
          </dl>
        </td>
        <td class="bdl bdr order-info w500" rowspan="{:count($vo[order_goods])}">
          <dl>
            <dt>买家：</dt>
            <dd>{$vo.consignee}</dd>
          </dl>
          <dl>
            <dt>收货人：</dt>
            <dd>
              <div class="alert alert-info m0">
                <p><i class="icon-user"></i>{$vo.consignee}<span class="ml30" title="电话"><i class="icon-phone"></i>{$vo.mobile}</span></p>
                <p class="mt5" title="收货地址"><i class="icon-map-marker"></i>{$vo.address}</p>
        </div>
            </dd>
          </dl>
          <dl>
            <dt>运费：</dt>
            <dd>邮费:{$vo.shipping_price}               <span><a href="/index.php/Seller/Order/delivery_info/order_id/{$vo.order_id}.html" class="ncbtn-mini ncbtn-mint fr"><i class="icon-truck"></i>{if condition="$vo.shipping_status==1"}查看 {else /} 去发货{/if}&nbsp;&nbsp;</a></span>
                <span><a href="/index.php/seller/Order/shipping_print/order_id/341.html" class="ncbtn-mini ncbtn-mint fr" style="position: relative;left: -5px;"><i class="icon-print"></i>打印快递单&nbsp;&nbsp;</a></span>
                            
            </dd>
          </dl></td>
      </tr>
            <!--  第二行 -->
            <?php for($i=1;$i<count($vo['order_goods']);$i++){?>
       <tr>
        <td class="bdl w10"></td>
        <td class="w50"><div class="pic-thumb"><a href="/index.php/Home/Goods/goodsInfo/id/48.html" target="_blank"><img src="<?php echo goods_thum_images($vo['order_goods'][$i]['goods_name'],200,200)?>"></a></div></td>
        <td class="tl"><dl class="goods-name">
            <dt><a target="_blank" href="/index.php/Home/Goods/goodsInfo/id/<?php echo $vo['order_goods'][$i]['goods_id']?>.html"><?php echo $vo['order_goods'][$i]['goods_name']?></a></dt>
            <dd><strong>￥<?php echo $vo['order_goods'][$i]['goods_price']?></strong>&nbsp;x&nbsp;<em><?php echo $vo['order_goods'][$i]['goods_num']?></em>件</dd>
          </dl></td>
       </tr>
       <?php }?>
      </tbody>
      {/volist}
    <tfoot>
    <tr>
      <td colspan="21"></td>
    </tr>
      </tfoot>
  </table>
  {$page}