<header class="ncsc-head-layout w">
  <div class="wrapper">
    <div class="ncsc-admin w252">
      <dl class="ncsc-admin-info">
        <dt class="admin-avatar"><img src="/public/img/default_user_portrait.gif" width="32" class="pngFix" alt=""></dt>
      </dl>
      <div class="ncsc-admin-function">

      <div class="index-search-container">
      <p class="admin-name"><a class="seller_name" href="/index.php/seller/Index/index.html">seller</a></p>
      <div class="index-sitemap"><a class="iconangledown" href="javascript:void(0);">快捷导航 <i class="icon-angle-down"></i></a>
          <div class="sitemap-menu-arrow"></div>
          <div class="sitemap-menu">
              <div class="title-bar">
                <h2>管理导航</h2>
                <p class="h_tips"><em>小提示：添加您经常使用的功能到首页侧边栏，方便操作。</em></p>
                <img src="/public/img/obo.png" alt="">
                <span id="closeSitemap" class="close">X</span>
              </div>
              <div id="quicklink_list" class="content">
	          		             <dl>
	              <dt>商品</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Goods_addEditGoods" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Goods/addEditGoods"> 商品发布 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Goods_goodsList" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Goods/goodsList.html"> 出售中的商品 </a>
	                </dd>
	            		                <!-- <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Goods_goods_offline" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Goods/goods_offline.html"> 仓库中的商品 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Goods_stock_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Goods/stock_list.html"> 库存日志 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Goods_specList" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Goods/specList.html"> 商品规格 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Goods_brandList" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Goods/brandList.html"> 品牌申请 </a>
	                </dd> -->
	            		             </dl>
	            	             <dl>
	              <dt>订单物流</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Order_index" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Order/index"> 订单列表 </a>
	                </dd>
	            		                <!-- <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Order_virtual_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Order/virtual_list.html"> 虚拟订单 </a>
	                </dd> -->
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Order_delivery_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Order/delivery_list.html"> 发货商品 </a>
	                </dd>
	            		                <!-- <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Plugin_index" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Plugin/index.html"> 发货设置 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Comment_index" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Comment/index.html"> 商品评论 </a>
	                </dd> -->
	            		             </dl>
	            	             <dl>
	              <!-- <dt>促销</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Promotion_flash_sale" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Promotion/flash_sale.html"> 抢购管理 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Promotion_group_buy_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Promotion/group_buy_list.html"> 团购管理 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Promotion_prom_goods_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Promotion/prom_goods_list.html"> 商品促销 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Promotion_prom_order_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Promotion/prom_order_list.html"> 订单促销 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Coupon_index" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Coupon/index.html"> 代金券管理 </a>
	                </dd>
	            		             </dl> -->
	            	             <dl>
	              <dt>店铺</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_store_setting" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/store_setting.html"> 店铺设置 </a>
	                </dd>
	            		                <!-- <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_store_decoration" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/store_decoration.html"> 店铺装修 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_navigation_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/navigation_list.html"> 店铺导航 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_bind_class_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/bind_class_list.html"> 经营类目 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_store_info" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/store_info.html"> 店铺信息 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_goods_class" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/goods_class.html"> 店铺分类 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_suppliers_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/suppliers_list.html"> 供货商 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Store_store_collect" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Store/store_collect.html"> 店铺关注 </a>
	                </dd> -->
	            		             </dl>
	            	             <dl>
	              <dt>售后服务</dt>
	                	                <!-- <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Service_ask_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Service/ask_list.html"> 咨询管理 </a>
	                </dd> -->
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Service_return_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Service/return_list.html"> 退货换货 </a>
	                </dd>
	            		               <!--  <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Service_complain_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Service/complain_list.html"> 投诉管理 </a>
	                </dd> -->
	            		             </dl>
	            	             <dl>
	              <dt>统计结算</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Finance_withdrawals" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="{:U('/index.php/seller/Finance/withdrawals')}"> 提现申请 </a>
	                </dd>
	            		                <!-- <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Finance_remittance" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Finance/remittance.html"> 汇款列表 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Finance_order_statis" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Finance/order_statis.html"> 店铺结算记录 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Finance_order_no_statis" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Finance/order_no_statis.html"> 未结算订单 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Report_index" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Report/index.html"> 店铺概况 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Report_finance" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Report/finance.html"> 运营报告 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Report_saleTop" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Report/saleTop.html"> 销售排行 </a>
	                </dd> 
	            		             </dl> -->
	            	             <!-- <dl>
	              <dt>客服消息</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Index_store_service" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Index/store_service.html"> 客服设置 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Index_store_msg" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Index/store_msg.html"> 系统消息 </a>
	                </dd>
	            		             </dl> -->
	            	             <!-- <dl>
	              <dt>账号</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Admin_index" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Admin/index.html"> 账号列表 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Admin_role" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Admin/role.html"> 账号组 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Admin_log" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Admin/log.html"> 账号日志 </a>
	                </dd>
	            		             </dl> -->
	            	             <!-- <dl>
	              <dt>分销</dt>
	                	                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Distribut_goods_list" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Distribut/goods_list.html"> 分销商品 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Distribut_distribut" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Distribut/distribut.html"> 分销设置 </a>
	                </dd>
	            		                <dd class="">
	                	<i nctype="btn_add_quicklink" data-quicklink-act="Distribut_rebate_log" class="icon-check" title="添加为常用功能菜单"></i>
	                	<a href="/index.php/seller/Distribut/rebate_log.html"> 分成记录 </a>
	                </dd>
	            		             </dl> -->
	                  
              </div>
          </div>
        </div>
      </div>

      <a class="iconshop" href="/index.php/Home/Store/index/store_id/1.html" title="前往店铺"><i class="icon-home"></i>&nbsp;店铺</a>
      <a class="iconshop" href="/index.php/seller/Admin/admin_info/seller_id/1.html" title="修改密码" target="_blank"><i class="icon-wrench"></i>&nbsp;设置</a>
      <a class="iconshop" href="/index.php/seller/login/logout" title="安全退出"><i class="icon-signout"></i>&nbsp;退出</a></div>
    </div>
    <div class="center-logo"> <a href="/" target="_blank">
    	<img src="/public/img/seller_center_logo.png" class="pngFix" alt=""></a>
      <h1>商家中心</h1>
    </div>
    <nav class="ncsc-nav">
      <dl class="current">
        <dt><a href="/index.php/seller/Index/index.html">首页</a></dt>
        <dd class="arrow"></dd>
      </dl>
      
            <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Goods&amp;a=addEditGoods">商品</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Goods/addEditGoods.html"> 商品发布 </a> </li>
				                <li> <a href="/index.php/seller/Goods/goodsList.html"> 出售中的商品 </a> </li>
				                <!-- <li> <a href="/index.php/seller/Goods/goods_offline.html"> 仓库中的商品 </a> </li>
				                <li> <a href="/index.php/seller/Goods/stock_list.html"> 库存日志 </a> </li>
				                <li> <a href="/index.php/seller/Goods/specList.html"> 商品规格 </a> </li>
				                <li> <a href="/index.php/seller/Goods/brandList.html"> 品牌申请 </a> </li> -->
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl>
            <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Order&amp;a=index">订单物流</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Order/index.html"> 订单列表 </a> </li>
				                <!-- <li> <a href="/index.php/seller/Order/virtual_list.html"> 虚拟订单 </a> </li> -->
				                <li> <a href="/index.php/seller/Order/delivery_list.html"> 发货商品 </a> </li>
				                <!-- <li> <a href="/index.php/seller/Plugin/index.html"> 发货设置 </a> </li>
				                <li> <a href="/index.php/seller/Comment/index.html"> 商品评论 </a> </li> -->
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl>
            <!-- <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Promotion&amp;a=flash_sale">促销</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Promotion/flash_sale.html"> 抢购管理 </a> </li>
				                <li> <a href="/index.php/seller/Promotion/group_buy_list.html"> 团购管理 </a> </li>
				                <li> <a href="/index.php/seller/Promotion/prom_goods_list.html"> 商品促销 </a> </li>
				                <li> <a href="/index.php/seller/Promotion/prom_order_list.html"> 订单促销 </a> </li>
				                <li> <a href="/index.php/seller/Coupon/index.html"> 代金券管理 </a> </li>
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl> -->
            <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Store&amp;a=store_setting">店铺</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Store/store_setting.html"> 店铺设置 </a> </li>
				                <!-- <li> <a href="/index.php/seller/Store/store_decoration.html"> 店铺装修 </a> </li>
				                <li> <a href="/index.php/seller/Store/navigation_list.html"> 店铺导航 </a> </li>
				                <li> <a href="/index.php/seller/Store/bind_class_list.html"> 经营类目 </a> </li>
				                <li> <a href="/index.php/seller/Store/store_info.html"> 店铺信息 </a> </li>
				                <li> <a href="/index.php/seller/Store/goods_class.html"> 店铺分类 </a> </li>
				                <li> <a href="/index.php/seller/Store/suppliers_list.html"> 供货商 </a> </li>
				                <li> <a href="/index.php/seller/Store/store_collect.html"> 店铺关注 </a> </li> -->
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl>
            <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Service&amp;a=ask_list">售后服务</a></dt>
        <dd>
          <ul>	
          		                <!-- <li> <a href="/index.php/seller/Service/ask_list.html"> 咨询管理 </a> </li> -->
				                <li> <a href="/index.php/seller/Service/return_list.html"> 退货换货 </a> </li>
				                <!-- <li> <a href="/index.php/seller/Service/complain_list.html"> 投诉管理 </a> </li> -->
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl>
            <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Finance&amp;a=withdrawals">统计结算</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Finance/withdrawals.html"> 提现申请 </a> </li>
				                <!-- <li> <a href="/index.php/seller/Finance/remittance.html"> 汇款列表 </a> </li>
				                <li> <a href="/index.php/seller/Finance/order_statis.html"> 店铺结算记录 </a> </li>
				                <li> <a href="/index.php/seller/Finance/order_no_statis.html"> 未结算订单 </a> </li>
				                <li> <a href="/index.php/seller/Report/index.html"> 店铺概况 </a> </li>
				                <li> <a href="/index.php/seller/Report/finance.html"> 运营报告 </a> </li>
				                <li> <a href="/index.php/seller/Report/saleTop.html"> 销售排行 </a> </li> -->
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl>
            <!-- <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Index&amp;a=store_service">客服消息</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Index/store_service.html"> 客服设置 </a> </li>
				                <li> <a href="/index.php/seller/Index/store_msg.html"> 系统消息 </a> </li>
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl> -->
            <!-- <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Admin&amp;a=index">账号</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Admin/index.html"> 账号列表 </a> </li>
				                <li> <a href="/index.php/seller/Admin/role.html"> 账号组 </a> </li>
				                <li> <a href="/index.php/seller/Admin/log.html"> 账号日志 </a> </li>
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl> -->
            <!-- <dl>
        <dt><a href="/index.php?m=Seller&amp;c=Distribut&amp;a=goods_list">分销</a></dt>
        <dd>
          <ul>	
          		                <li> <a href="/index.php/seller/Distribut/goods_list.html"> 分销商品 </a> </li>
				                <li> <a href="/index.php/seller/Distribut/distribut.html"> 分销设置 </a> </li>
				                <li> <a href="/index.php/seller/Distribut/rebate_log.html"> 分成记录 </a> </li>
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl> -->
      	</nav>
  </div>
</header>