<header class="ncsc-head-layout w">
  <div class="wrapper">
    <div class="ncsc-admin w252">
      <dl class="ncsc-admin-info">
        <dt class="admin-avatar"><img src="/public/img/default_user_portrait.gif" width="32" class="pngFix" alt=""></dt>
      </dl>
      <div class="ncsc-admin-function">

      <div class="index-search-container">
      <p class="admin-name"><a class="seller_name" href="/index.php/seller/Index/index.html">seller</a></p>
      <div class="index-sitemap"><a class="iconangledown" href="javascript:void(0);">快捷导航 <i class="icon-angle-down"></i></a>
          <div class="sitemap-menu-arrow"></div>
          <div class="sitemap-menu">
              <div class="title-bar">
                <h2>管理导航</h2>
                <p class="h_tips"><em>小提示：添加您经常使用的功能到首页侧边栏，方便操作。</em></p>
                <img src="/public/img/obo.png" alt="">
                <span id="closeSitemap" class="close">X</span>
              </div>
              <div id="quicklink_list" class="content">
<?php 
$seller_menu = C('seller_menu');

?>

{foreach name="seller_menu" item="sm" key="k"}

      <dl>
      <dt>{$menu_index[$k]}</dt>
      {volist name="sm" id="item"}
        	                <dd class="">
        	<i nctype="btn_add_quicklink" data-quicklink-act="{$k}_<?php echo explode('/',$item[url])[count(explode('/',$item[url]))-1]?>" class="icon-check" title="添加为常用功能菜单"></i>
        	<a href="{$item.url}"> {$item.name} </a>
        </dd>
        {/volist}
    </dl>		                
{/foreach}
	          		             
	                  
              </div>
          </div>
        </div>
      </div>

      <a class="iconshop" href="/seller/Store/store_setting" title="前往店铺"><i class="icon-home"></i>&nbsp;店铺</a>
      <a class="iconshop" href="/seller/Store/change_password" title="修改密码" target="_blank"><i class="icon-wrench"></i>&nbsp;设置</a>
      <a class="iconshop" href="/seller/login/logout" title="安全退出"><i class="icon-signout"></i>&nbsp;退出</a></div>
    </div>
    <div class="center-logo"> <a href="/" target="_blank">
    	<img src="/public/img/seller_center_logo.png" class="pngFix" alt=""></a>
      <h1>商家中心</h1>
    </div>
    <nav class="ncsc-nav">
      <dl class="current">
        <dt><a href="/index.php/seller/Index/index.html">首页</a></dt>
        <dd class="arrow"></dd>
      </dl>


{foreach name="seller_menu" item="sm" key="k"}
<dl>
        <dt><a href="{$sm[0][url]}">{$menu_index[$k]}</a></dt>
        <dd>
          <ul>	
          {volist name="sm" id="item"}
          	<li> <a href="{$item.url}"> {$item.name} </a> </li>
				                
			{/volist}   
				           </ul>
        </dd>
        <dd class="arrow"></dd>
      </dl>
{/foreach}
        
      	</nav>
  </div>
</header>