{include file="public/header" /}
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="public/nav" /}
<div class="ncsc-layout wrapper">
	 <div id="layoutLeft" class="ncsc-layout-left">
   <div id="sidebar" class="sidebar">
     <div class="column-title" id="main-nav"><span class="ico-store"></span>
       <h2>店铺</h2>
     </div>
     <div class="column-menu">
       <ul id="seller_center_left_menu">
      	            <li class="current">
           		<a href="/index.php/seller/Store/store_setting.html"> 店铺设置</a>
           </li>
	 	           <li class="">
           		<a href="/index.php/seller/Store/store_decoration.html"> 店铺装修</a>
           </li>
	 	           <li class="">
           		<a href="/index.php/seller/Store/navigation_list.html"> 店铺导航</a>
           </li>
	 	           <li class="">
           		<a href="/index.php/seller/Store/bind_class_list.html"> 经营类目</a>
           </li>
	 	           <li class="">
           		<a href="/index.php/seller/Store/store_info.html"> 店铺信息</a>
           </li>
	 	           <li class="">
           		<a href="/index.php/seller/Store/goods_class.html"> 店铺分类</a>
           </li>
	 	           <li class="">
           		<a href="/index.php/seller/Store/suppliers_list.html"> 供货商</a>
           </li>
	 	           <li class="">
           		<a href="/index.php/seller/Store/store_collect.html"> 店铺关注</a>
           </li>
	 	      </ul>
     </div>
   </div>
 </div>
  <div id="layoutRight" class="ncsc-layout-right">
    <div class="ncsc-path">
    	<i class="icon-desktop"></i>商家管理中心
    	<i class="icon-angle-right"></i>店铺
    	<i class="icon-angle-right"></i>店铺设置
    </div>
    <div class="main-content" id="mainContent">     
<div class="tabmenu">
  <ul class="tab pngFix">
  <li class="active"><a href="/index.php/seller/Store/store_setting.html">店铺设置</a></li>
  <li class="normal"><a href="/index.php/seller/Store/change_password.html">修改密码</a></li>
  <!-- <li class="normal"><a href="/index.php/seller/Store/store_theme.html">店铺主题</a></li>
  <li class="normal"><a href="/index.php/seller/Store/mobile_slide.html">手机店铺设置</a></li>
  <li class="normal"><a href="/index.php/seller/Store/getpoint.html">拾取店铺坐标</a></li> -->
  </ul>
</div>
<div class="ncsc-form-default">
  <form method="post" id="handlepost" action="/index.php/seller/Store/setting_save.html" enctype="multipart/form-data">
    <dl>
      <dt>店铺等级：</dt>
      <dd><p>{$store.grade_id}</p></dd>
    </dl>
    <dl>
      <dt>店铺名称：</dt>
      <dd><p>{$store.store_name}</p></dd>
    </dl>
    <dl>
      <dt>主营商品：</dt>
      <dd>
          <textarea name="store_zy" rows="2" class="textarea w400" maxlength="50">{$store.store_zy}</textarea>
        <p class="hint">关键字最多可输入50字，请用","进行分隔，例如”男装,女装,童装”</p>
      </dd>
    </dl>
    <dl>
      <dt>店铺logo：</dt>
      <dd>
        <div class="ncsc-upload-thumb store-logo" nctype="store_label">
			<p><img height="60" id="store_logo" src="{$store.store_logo?$store.store_logo:'/public/static/img/57dfb3549027a.jpg'}"></p>
        </div>
        <div class="ncsc-upload-btn"> 
         <a href="javascript:void(0);"><span>
          <input type="hidden" name="store_logo" value="{$store.store_logo}">
          <input type="button" onclick="GetUploadify(1,'store_logo','seller','callback1')" hidefocus="true" size="1" class="input-file" name="store_label" id="storeLablePic" nc_type="change_store_label">
          </span>
          <p><i class="icon-upload-alt"></i>图片上传</p>
          </a> 
        </div>
        <p class="hint">此处理店铺页logo；<br><span style="color:orange;">建议使用宽200像素-高60像素内的GIF或PNG透明图片；点击下方"提交"按钮后生效。</span></p>
      </dd>
    </dl>
    <dl>
      <dt>店铺条幅： </dt>
      <dd>
        <div class="ncsc-upload-thumb store-banner" nctype="store_banner">
          <p><img height="120" id="store_banner" src="{$store.store_banner?$store.store_banner:'/public/static/img/5799e087b6147.png'}"></p>
        </div>
        <div class="ncsc-upload-btn"> <a href="javascript:void(0);"><span>
          <input type="hidden" name="store_banner" value="{$store.store_banner}">
          <input type="button" hidefocus="true" onclick="GetUploadify(1,'store_banner','seller','callback2')" size="1" class="input-file" nc_type="change_store_banner">
          </span>
          <p><i class="icon-upload-alt"></i>图片上传</p>
          </a></div>
        <p class="hint">此处为店铺页banner导航；<br><span style="color:orange;">建议使用宽1200像素*高130像素的图片；点击下方"提交"按钮后生效。</span></p>
      </dd>
    </dl>
    <dl>
        <dt>店铺头像： </dt>
        <dd>
        <div class="ncsc-upload-thumb store-logo" nctype="store_label">
			<p><img height="60" id="store_avatar" src="{$store.store_avatar?$store.store_avatar:'/public/static/img/not_adv.jpg'}"></p>
        </div>	
        <div class="ncsc-upload-btn">
           <a href="javascript:void(0);"><span>
           <input type="hidden" value="" name="store_avatar">
          	<input type="button" onclick="GetUploadify(1,'store_avatar','seller','callback3')" hidefocus="true" size="1" class="input-file" nc_type="change_store_avatar">
          </span>
          <p><i class="icon-upload-alt"></i>图片上传</p>
          </a>
          </div> 
          <p class="hint">此处为店铺方形头像；<br><span style="color:orange;">建议使用宽100像素*高100像素内的方型图片；点击下方"提交"按钮后生效。</span></p>
        </dd>
     </dl>
     <dl>
      <dt>客服QQ：</dt>
      <dd>
        <input class="w200 text" name="store_qq" type="number" id="store_qq" value="{$store.store_qq}">
      </dd>
    </dl>
    <dl>
      <dt>阿里旺旺：</dt>
      <dd>
        <input class="text w200" name="store_aliwangwang" type="text" id="store_ww" value="{$store.store_aliwangwang}">
      </dd>
    </dl>
    <dl>
      <dt>店铺电话：</dt>
      <dd>
        <input class="text w200" pattern="^\d{1,}$" name="store_phone" maxlength="20" type="text" id="store_phone" value="{$store.store_phone}">
        <p class="hint">电话号码格式, 例如: 075586140485</p>
      </dd>
    </dl>
        <dl>
      <dt>库存预警：</dt>
      <dd>
        <input class="text w50" name="store_warning_storage" type="text" maxlength="3" value="{$store.store_warning_storage}" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onblur="checkInputNum(this.name,0,999);">
        <span></span>
        <p class="hint">库存少于预警数则报警提示</p>
      </dd>
    </dl>
        <dl>
      <dt>包邮额度：</dt>
      <dd>
        <input class="text w50" name="store_free_price" type="text" maxlength="3" value="{$store.store_free_price}">
        <span></span>
        <p class="hint">满多少免运费</p>
      </dd>
    </dl>
    <dl>
      <dt>SEO关键字：</dt>
      <dd>
        <p>
          <input class="text w400" name="seo_keywords" type="text" value="{$store.seo_keywords}">
        </p>
        <p class="hint">用于店铺搜索引擎的优化，关键字之间请用英文逗号分隔</p>
      </dd>
    </dl>
    <dl>
      <dt>SEO店铺描述：</dt>
      <dd>
        <p>
          <textarea name="seo_description" rows="3" class="textarea w400" id="remark_input">{$store.seo_description}</textarea>
        </p>
        <p class="hint">用于店铺搜索引擎的优化，建议120字以内</p>
      </dd>
    </dl>
    <div class="bottom">
        <label class="submit-border"><input type="submit" class="submit" value="提交"></label>
      </div>
  </form>
</div>
<script type="text/javascript">
function adsubmit(){
	$('#handlepost').submit();
}

function goset(obj){
	window.location.href = $(obj).attr('data-url');
}

function callback1(img_str){
	$('input[name="store_logo"]').val(img_str);
	$('#store_logo').attr('src',img_str);
}

function callback2(img_str){
	$('input[name="store_banner"]').val(img_str);
	$('#store_banner').attr('src',img_str);
}

function callback3(img_str){
	$('input[name="store_avatar"]').val(img_str);
	$('#store_avatar').attr('src',img_str);
}
</script>
    </div>
  </div>
</div>
<div id="cti">
  <div class="wrapper">
    <ul>
          </ul>
  </div>
</div>
<div id="faq">
  <div class="wrapper">
      </div>
</div>

<div id="footer">
  <p><a href="/">首页</a>
                | <a href="http://www.tpshop.cn/">招聘英才</a>
                | <a href="http://www.tpshop.cn/">合作及洽谈</a>
                | <a href="http://www.tpshop.cn/">联系我们</a>
                | <a href="http://www.tpshop.cn/">关于我们</a>
                | <a href="http://www.tpshop.cn/">物流自取</a>
                | <a href="http://www.tpshop.cn/">友情链接</a>
  </p>
  Copyright 2017 <a href="/index.php/seller/Store/store_setting.html" target="_blank">TPshop商城</a> All rights reserved.<br>本演示来源于
  <a href="http://www.tpshop.cn/" target="_blank">www.tpshop.cn</a>  
</div>
<script type="text/javascript" src="/public/static/js/jquery.cookie.js"></script>
<link href="/public/static/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/public/static/js/perfect-scrollbar.min.js"></script> 
<script type="text/javascript" src="/public/static/js/jquery.qtip.min.js"></script>
<link href="/public/static/css/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<div id="tbox">
  <div class="btn" id="msg"><a href="/index.php/Seller/index/store_msg.html"><i class="msg"></i>站内消息</a></div>
  <div class="btn" id="im"><i class="im"><em id="new_msg" style="display:none;"></em></i><a href="javascript:void(0);">在线联系</a></div>
  <div class="btn" id="gotop" style="display: none;"><i class="top"></i><a href="javascript:void(0);">返回顶部</a></div>
</div>
<script type="text/javascript">
var current_control = 'Store/store_setting';
$(document).ready(function(){
    //添加删除快捷操作
    $('[nctype="btn_add_quicklink"]').on('click', function() {
        var $quicklink_item = $(this).parent();
        var item = $(this).attr('data-quicklink-act');
        if($quicklink_item.hasClass('selected')) {
            $.post("/index.php/Seller/Index/quicklink_del.html", { item: item }, function(data) {
                $quicklink_item.removeClass('selected');
                var idstr = 'quicklink_'+ item;
                $('#'+idstr).remove();
            }, "json");
        } else {
            var scount = $('#quicklink_list').find('dd.selected').length;
            if(scount >= 8) {
                layer.msg('快捷操作最多添加8个', {icon: 2,time: 2000});
            } else {
                $.post("/index.php/Seller/Index/quicklink_add.html", { item: item }, function(data) {
                    $quicklink_item.addClass('selected');
                    if(current_control=='Index/index'){
                        var $link = $quicklink_item.find('a');
                        var menu_name = $link.text();
                        var menu_link = $link.attr('href');
                        var menu_item = '<li id="quicklink_' + item + '"><a href="' + menu_link + '">' + menu_name + '</a></li>';
                        $(menu_item).appendTo('#seller_center_left_menu').hide().fadeIn();
                    }
                }, "json");
            }
        }
    });
    //浮动导航  waypoints.js
    $("#sidebar,#mainContent").waypoint(function(event, direction) {
        $(this).parent().toggleClass('sticky', direction === "down");
        event.stopPropagation();
        });
    });
    // 搜索商品不能为空
    $('input[nctype="search_submit"]').click(function(){
        if ($('input[nctype="search_text"]').val() == '') {
            return false;
        }
    });

	function fade() {
		$("img[rel='lazy']").each(function () {
			var $scroTop = $(this).offset();
			if ($scroTop.top <= $(window).scrollTop() + $(window).height()) {
				$(this).hide();
				$(this).attr("src", $(this).attr("data-url"));
				$(this).removeAttr("rel");
				$(this).removeAttr("name");
				$(this).fadeIn(500);
			}
		});
	}
	if($("img[rel='lazy']").length > 0) {
		$(window).scroll(function () {
			fade();
		});
	};
	fade();
	
    function delfunc(obj){
    	layer.confirm('确认删除？', {
    		  btn: ['确定','取消'] //按钮
    		}, function(){
    		    // 确定
   				$.ajax({
   					type : 'post',
   					url : $(obj).attr('data-url'),
   					data : {act:'del',del_id:$(obj).attr('data-id')},
   					dataType : 'json',
   					success : function(data){
                        layer.closeAll();
   						if(data==1){
   							layer.msg('操作成功', {icon: 1});
   							$(obj).parent().parent().parent().remove();
   						}else{
   							layer.msg(data, {icon: 2,time: 2000});
   						}
   					}
   				})
    		}, function(index){
    			layer.close(index);
    			return false;// 取消
    		}
    	);
    }
</script>


</body></html>