{include file="public/header" /}
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="public/nav" /}
<div class="ncsc-layout wrapper">
   {include file="public/layout_left" /}
  <div id="layoutRight" class="ncsc-layout-right">
    <div class="ncsc-path"><i class="icon-desktop"></i>商家管理中心<i class="icon-angle-right"></i>订单物流<i class="icon-angle-right"></i>发货列表</div>
    <div class="main-content" id="mainContent">
      
			<div class="tabmenu">
                <ul class="tab pngFix">
                    <li class="active"><a href="/seller/Service/return_list.html">换货记录</a></li>
                    <!-- <li class=""><a href="/seller/Service/refund_list.html">退货记录</a></li> -->
                </ul>
            </div>
  <div class="alert alert-block mt10">
	  <ul class="mt5">
	    <li>1、发货列表包含"待发货"、"部分发货"、"已发货"三个状态</li>
	    <li>2、待发货订单可发货, 部分发货订单可继续发货, 已发货订单可打印发货单</li>
	    <li>3、已经发货订单, 如果买家没有确认收货, 系统会根据设置结算周期自动结算订单</li>
	  </ul>
</div>
<form method="post" action="/index.php/seller/Order/ajaxdelivery.html" id="search-form2" onsubmit="return false">
  <input type="hidden" name="shipping_status" id="shipping_status" value="1">
  <table class="search-form">
    <tbody><tr>
      <th>商品id</th>
      
      <th>订单编号</th>
      
      <th>时间</th>
      
	   
     </tr>
  </tbody></table>
</form>
<div id="ajax_return">

<table class="ncsc-default-table order deliver">
	<thead>
	<tr>
	<th>id</th><th>订单号</th><th>商品id</th><th>时间</th><th>操作</th>
	</tr>
	</thead>
	<tbody>
	{volist name="list" id="vo"}
	<tr>
	<td>{$vo.id}</td><td>{$vo.order_sn}</td><td>{$vo.goods_id}</td><td>{$vo.addtime|date="Y-m-d H:i",###}</td><td><a href="/seller/service/return_info/id/{$vo.id}" >详情</a></td>
	</tr>
	{/volist}
	</tbody>
  </table>
</div>
<script>
$(document).ready(function(){	
	   
 	$('#add_time_begin').layDate(); 
 	$('#add_time_end').layDate();
 	 
 	ajax_get_table('search-form2',1);
 	
 	$("#tab > li").each(function(){
		$(this).click(function(){
			tabSelect(this);
		});
	});
});

function tabSelect(obj){
	var currHasClass = $(obj).hasClass('active');
	if(currHasClass)return;
	
	$("#tab > li").each(function(){
		$(this).removeClass('active');
	});
	
	$(obj).addClass('active');
	var shippingStatus = $(obj).attr("data-val");
	 
	$("#shipping_status").val(shippingStatus);
	ajax_get_table('search-form2',1);
}

//ajax 抓取页面
function ajax_get_table(tab,page){
    var start_time = $.trim($('#add_time_begin').val());
    var end_time =  $.trim($('#add_time_end').val());
    if(start_time == '' ^ end_time == ''){
        layer.alert('请选择完整的时间间隔', {icon: 2});
        return false;
    }
    cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"/index.php/Seller/order/ajaxdelivery/p/"+page,//+tab,
            data : $('#'+tab).serialize(),// 你的formid
            success: function(data){
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }
        });
}

</script>    
</div>
  </div>
</div>
<div id="cti">
  <div class="wrapper">
    <ul>
          </ul>
  </div>
</div>
<div id="faq">
  <div class="wrapper">
      </div>
</div>

<div id="footer">
  <p><a href="/">首页</a>
                | <a href="http://www.tpshop.cn/">招聘英才</a>
                | <a href="http://www.tpshop.cn/">合作及洽谈</a>
                | <a href="http://www.tpshop.cn/">联系我们</a>
                | <a href="http://www.tpshop.cn/">关于我们</a>
                | <a href="http://www.tpshop.cn/">物流自取</a>
                | <a href="http://www.tpshop.cn/">友情链接</a>
  </p>
  Copyright 2017 <a href="/index.php/seller/Order/delivery_list.html" target="_blank">TPshop商城</a> All rights reserved.<br>本演示来源于
  <a href="http://www.tpshop.cn/" target="_blank">www.tpshop.cn</a>  
</div>
<script type="text/javascript" src="/public/static/js/jquery.cookie.js"></script>
<link href="/public/static/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/public/static/js/perfect-scrollbar.min.js"></script> 
<script type="text/javascript" src="/public/static/js/jquery.qtip.min.js"></script>
<link href="/public/static/css/jquery.qtip.min.css" rel="stylesheet" type="text/css">
<div id="tbox">
  <div class="btn" id="msg"><a href="/index.php/Seller/index/store_msg.html"><i class="msg"><em>1</em></i>站内消息</a></div>
  <div class="btn" id="im"><i class="im"><em id="new_msg" style="display:none;"></em></i><a href="javascript:void(0);">在线联系</a></div>
  <div class="btn" id="gotop" style="display: block;"><i class="top"></i><a href="javascript:void(0);">返回顶部</a></div>
</div>
<script type="text/javascript">
var current_control = 'Order/delivery_list';
$(document).ready(function(){
    //添加删除快捷操作
    $('[nctype="btn_add_quicklink"]').on('click', function() {
        var $quicklink_item = $(this).parent();
        var item = $(this).attr('data-quicklink-act');
        if($quicklink_item.hasClass('selected')) {
            $.post("/index.php/Seller/Index/quicklink_del.html", { item: item }, function(data) {
                $quicklink_item.removeClass('selected');
                var idstr = 'quicklink_'+ item;
                $('#'+idstr).remove();
            }, "json");
        } else {
            var scount = $('#quicklink_list').find('dd.selected').length;
            if(scount >= 8) {
                layer.msg('快捷操作最多添加8个', {icon: 2,time: 2000});
            } else {
                $.post("/index.php/Seller/Index/quicklink_add.html", { item: item }, function(data) {
                    $quicklink_item.addClass('selected');
                    if(current_control=='Index/index'){
                        var $link = $quicklink_item.find('a');
                        var menu_name = $link.text();
                        var menu_link = $link.attr('href');
                        var menu_item = '<li id="quicklink_' + item + '"><a href="' + menu_link + '">' + menu_name + '</a></li>';
                        $(menu_item).appendTo('#seller_center_left_menu').hide().fadeIn();
                    }
                }, "json");
            }
        }
    });
    //浮动导航  waypoints.js
    $("#sidebar,#mainContent").waypoint(function(event, direction) {
        $(this).parent().toggleClass('sticky', direction === "down");
        event.stopPropagation();
        });
    });
    // 搜索商品不能为空
    $('input[nctype="search_submit"]').click(function(){
        if ($('input[nctype="search_text"]').val() == '') {
            return false;
        }
    });

	function fade() {
		$("img[rel='lazy']").each(function () {
			var $scroTop = $(this).offset();
			if ($scroTop.top <= $(window).scrollTop() + $(window).height()) {
				$(this).hide();
				$(this).attr("src", $(this).attr("data-url"));
				$(this).removeAttr("rel");
				$(this).removeAttr("name");
				$(this).fadeIn(500);
			}
		});
	}
	if($("img[rel='lazy']").length > 0) {
		$(window).scroll(function () {
			fade();
		});
	};
	fade();
	
    function delfunc(obj){
    	layer.confirm('确认删除？', {
    		  btn: ['确定','取消'] //按钮
    		}, function(){
    		    // 确定
   				$.ajax({
   					type : 'post',
   					url : $(obj).attr('data-url'),
   					data : {act:'del',del_id:$(obj).attr('data-id')},
   					dataType : 'json',
   					success : function(data){
                        layer.closeAll();
   						if(data==1){
   							layer.msg('操作成功', {icon: 1});
   							$(obj).parent().parent().parent().remove();
   						}else{
   							layer.msg(data, {icon: 2,time: 2000});
   						}
   					}
   				})
    		}, function(index){
    			layer.close(index);
    			return false;// 取消
    		}
    	);
    }
</script>


</body></html>